<style>

    div.block-container {padding-top:6rem;}

    .footer {
        margin-top: 2rem;
        text-align: center;
        color: #888;
        font-size: 0.9em;
        position: absolute;
        width: 100%;
    }
    
    .stButton {
        flex-shrink: 1 !important;
        flex-grow: 1 !important;
        text-wrap: no-wrap !important;
        text-overflow: ellipsis !important;
    }

    .anniversary-card {
        background: linear-gradient(135deg, #ff4e50, #f9d423);
        padding: 2rem;
        border-radius: 0.5rem;
        text-align: center;
        color: white;
        box-shadow: 0 4px 20px rgba(0,0,0,0.25);
        padding-left: 0.5vh;
    }

    .main-count {
        font-size: 4em;
        font-weight: bold;
    }
</style>